.custom-header {
  &.steel{
    opacity: 1;
  }
  background-color: rgba(34,17,11,.7);
}

.text-left{
  text-align: left;
}

.App {
  background-color: #0d0d11;
  text-align: center;
  .page-header{
    -webkit-text-stroke: 0.4px red;
  }
  .dhbc-logo{
    cursor: pointer;
  }
  .custom-header a {
      color: white;
  }
  .container-fluid{
    padding: 0px;
    .row{
      padding: 0px;
      margin: 0px;
      > *{
        padding: 0px;
        margin: 0px;
      }
    } 
  }
  .display-content-center{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .dhbc-title{
    color:white;
    position: relative;
    right: 1em;
    bottom: 3em;
    font-size: xx-large;
    width: auto;
    -webkit-text-stroke: 0.8px red;
  }
  .white-font{
    color:white;
    a {
      color: white;
    }
  }
  a {
    &:hover{
      color:red
    }
    text-decoration: none;
    color: #515151;
  }
}

@import "./medium-size.scss";
@import "~bootstrap/scss/bootstrap";
